*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  color: black;
}

html,body{
  height: 100%;
  width: 100%;
}

body{
  background-color: black;
}

.parent{
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card img{
  height: 140px;
  width: 140px;
  object-fit: cover;
  border-radius: 50%;
}

.card{
  width: 200px;
  border: 1px solid white;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  background-color: pink;
  margin: 20px;
}

.card p{
  margin: 20px 0;
}

.card button{
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
}