* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: aquamarine;
  color: black;
}

.nav div{
  gap: 40px;
  display: flex;
  align-items: center;
}

.nav a {
  color: white;
  text-decoration: none;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-decoration: underline;
}
