* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(27, 24, 24);
}

input,button{
  padding: 10px 20px;
  margin: 10px;
  font-size: 20px;
}