* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

button{
  background-color: black;
  margin: 20px;
  padding: 10px;
  color: white;
}

#num {
  background-color: rgb(73, 74, 74);
  width: fit-content;
  font-size: 100px;
  padding: 10px 40px;
  margin: 20px;
  color: white;
  border: 10px solid rgb(153, 154, 154);
  border-radius: 20%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 10);
}