<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="w-full h-screen bg-zinc-800">
        <form method="post" action="/create">
            <input type="text" placeholder="User name" name="username">
            <input type="email" placeholder="Email " name="email">
            <input type="password" placeholder="Your Password name="password">
            <input type="number" placeholder="Age" name="age">
            <input type="submit" value="Create User">
        </form>
    </div>
  </body>
</html>