* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.light{
  background-color: lightseagreen;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 30px;
}

.dark{
  background-color: darkslategray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 30px;
}

.nav2{
  display: flex;
  gap: 30px;
}